<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffPlex" version="1.2.1" targetFramework="net451" />
  <package id="Microsoft.XboxLive.CommonBuildSettings" version="0.1.1704.0301" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.XboxLive.CommonVersionTarget.FourPart" version="0.1.1708.0401" targetFramework="net451" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
</packages>